.App {
  background: #1f2535;
  color: white;
}

.Nav {
  display: flex;
  justify-content: space-between;
}

.Top {
  margin-top: 15vh;
}

.Top > button {
  padding: 2vh;
  border-radius: 8px;
  font-size: 1vw;
  margin-top: 5vh;
}
